<div class="article">
    <h1 class= 'title text'>
        <%= @post.title%>
    </h1>
    <p class= 'dates text'>
        Submitted <%= time_ago_in_words(@post.created_at) %> Ago
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= button_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
    </p>
    <p class= 'body text'>
        <%= @post.body %>
    </p>
    <%= link_to 'Back', posts_path, class: 'btn' %>
</div>
