<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- ========Boxicons CSS========= -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <nav class="sidebar">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="#" alt="#">
        </span>

        <div class="text header-text">
          <span class="name">Yu's</span>
          <span class="blog">Blog</span>
        </div>
      </div>

      <i class='bx bx-chevron-left toggle' ></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">

            <li class="nav-link">
              <%= link_to '#' do %>
                <i class='bx bx-home icon' ></i>
                <span class= 'text nav-texts'>Home</span>
              <% end %>
            </li>

            <li class="nav-link">
              <%= link_to '#' do %>
                <i class='bx bx-conversation icon' ></i>
                <span class= 'text nav-texts'>Chat</span>
              <% end %>
            </li>

            <li class="nav-link">
              <%= link_to '#' do %>
                <i class='bx bx-edit-alt icon'></i>
                <span class= 'text nav-texts'>My Posts</span>
              <% end %>
            </li>

            <li class="nav-link">
              <%= link_to '#' do %>
                <i class='bx bxs-cat icon' ></i>
                <span class= 'text nav-texts'>About Me</span>
              <% end %>
            </li>

            <li class="nav-link">
              <%= link_to '#' do %>
                <i class='bx bx-music icon' ></i>
                <span class= 'text nav-texts'>Music</span>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="button-content">
          <li class="mode">
            <div class="moon-sun">
              <i class='bx bxs-moon icon moon' ></i>
              <i class='bx bxs-sun icon sun' ></i>
            </div>
            <span class="mode-text text" >Dark Mood</span>

            <div class="toggle-switch">
              <span class="switch"></span>    
            </div>
          </li>
        </div>

      </div>

  </nav>
    

    <% flash.each do |name, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <div class= 'yield'>
      <%= yield %>
    </div>
  </body>
</html>
